{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load currency_format %}
{% block page_title %}
{% trans "Submit Request" %}
{% endblock %}
{% block content %}
<h1>{% trans "Submit Request" %}</h1>
<div>{% trans "By submitting this reimbursement request, I declare:" %}</div>
<form method="post">
  {% crispy form %}
  <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">
</form>
{% endblock %}
